html, body {
  margin: 0;
  background-color: #F5F5F5;
}

.konvajs-content {
  margin: 30px;
  background-color: #fff;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.select-wrapper {
  align-items: center;
}

.select-group {
  width: 700px;
  justify-content: space-around;
}

select {
  width: 200px;
  padding: 0 20px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 16px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #fff;
}

.input-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}

.image-picker {
  width: 150px;
  height: 150px;
  margin: 0 15px 15px;
  cursor: pointer;
}

h2 {
  margin: 0 0 30px 0;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}

.text-input {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 16px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}

.print-button {
  padding: 20px;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 16px;
}

@media print {
  .konvajs-content {
    margin: 0;
    width: 100% !important;
    height: 100% !important;
    box-shadow: none;
  }

  .preview {
    width: 100% !important;
    height: 100% !important;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

button {
  background: none;
  border: none;
  outline: none;
}
